.grid-why-choose-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}
.absolute-choose {
  position: absolute;
}
.relative-choose {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 5%;
}
.title-choose {
  font-size: 35px;
  margin-bottom: 2%;
}
.img-choose {
  border: 6px solid #fff;
  transform: skewY(3deg);
}
.grid-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10%;
  margin-top: 5%;
}
.flex-icon-choose {
  display: flex;
  align-items: center;
  justify-content: start;
}
.icono-choose {
  margin-right: 5%;
  padding: 10px;
  height: 65px;
  border-radius: 50%;
  background-color: rgb(43 43 43);
  transition: all 0.4s;
}
.icono-choose:hover {
  background-color: #ff0336;
}

.button-choose {
  cursor: pointer;
  width: 200px;
  height: 55px;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  padding: 12px 20px;
  outline: none;
  border: none;
  background-color: #ff0336;
  transition: all 0.4s;
  color: #fff;
  margin-top: 10%;
}
.button-choose:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 10px;
  left: 10px;
  border: 1px solid #ff0336;
  transition: all 0.4s;
  overflow: hidden;
  z-index: 0;
}

.button-choose:hover:after {
  bottom: 0px;
  border: 1px solid #ff0336;

  left: 0px;
}
.button-choose:hover {
  background-color: #ff0336;
  border: 1px solid #ff0336;
  /* color: #000; */
}
@media screen and (max-width: 1023px) {
  .grid-why-choose-us {
    grid-template-columns: 1fr;
    row-gap: 5%;
  }
  .flex {
    display: none;
  }
  .img-choose {
    width: 80%;
  }
  .img-choose-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .grid-why-choose-us {
    padding-bottom: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .flex-icon-choose {
    flex-direction: column;
  }
  .container-button-tour {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .title-choose {
    text-align: center;
    margin: 5%;
  }
  .container-title {
    justify-content: center;
  }
  .p-choose {
    margin-bottom: 10%;
  }
  .grid-icons {
    margin-bottom: 10%;
  }
}
