.background {
  /* background-image: url(./background-section.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f8f8f8;
}
.background2 {
  background-color: #000000;
  color: #fff;
}
.background3 {
  background-image: url(./background-section3.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}
