.background {
  background-color: #f8f8f8;
}
.background2 {
  background-color: #000000;
  color: #fff;
}
.background3 {
  background-image: url(./images/background-section3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
