footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  column-gap: 5%;
  grid-template-rows: 1fr;
  margin-left: 10%;
  margin-right: 10%;
  padding: 4%;
}

.logo-footer {
  width: 60%;
  overflow: hidden;
  transform: translateX(-40px);
}
.container-col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-footer {
  padding-bottom: 2%;
  line-height: 1.5;
  font-size: 15px;
}
.container-brand-icons {
  display: flex;
  justify-content: start;
  align-items: center;
}
.container-brand-icons i {
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2rem;
  padding: 2%;
  transition: all 0.4s;
  background-color: #efefef;
  border-radius: 50%;
}
.container-brand-icons i:hover {
  color: #fff;
  background-color: #ff0336;
  cursor: pointer;
}
.container-classes-footer {
  display: flex;
  flex-direction: column;
  padding: 2%;
  position: relative;
}
.container-classes-footer p {
  margin-top: 1.5rem;
  overflow: hidden;
}
.container-classes-footer p:hover {
  color: #ff0336;
  transform: scale(1.02);
  cursor: pointer;
  font-weight: bold;
}
.container-classes-footer h4 {
  margin-top: 1.5rem;
}
.linea-footer {
  width: 4rem;
  height: 4px;
  position: absolute;
  top: 40px;
  background-color: #ff0336;
}
@media screen and (max-width: 1023px) {
  footer {
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
  }
  .logo-footer {
    transform: translateX(-30px);
    width: 100%;
  }
  .container-classes-footer {
    padding: 0;
  }
  .linea-footer {
    width: 4rem;
    height: 4px;
    position: absolute;
    top: 35px;
    background-color: #ff0336;
  }
}
@media screen and (max-width: 620px) {
  footer {
    margin: 0;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .logo-footer {
    width: 55%;
    transform: translateX(0px);
  }
  .container-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-col2 {
    display: none;
  }
  p {
    text-align: center;
  }
  .container-brand-icons {
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 4%;
  }
  .container-brand-icons i {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    padding: 10%;
    transition: all 0.4s;
    background-color: #efefef;
    border-radius: 50%;
  }
}
