@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff0336;
  border: 1.5px solid #fff;
  border-radius: 80px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}
